[cri-o]
name=CRI-O
baseurl=https://repo.seaspace.name:48443/repositories/isv:/cri-o:/stable:/{{ crio_repo_minor }}/rpm/
enabled=1
gpgcheck=1
gpgkey=https://repo.seaspace.name:48443/repositories/isv:/cri-o:/stable:/{{ crio_repo_minor }}/rpm/repodata/repomd.xml.key