[kubernetes]
name=Kubernetes
baseurl=https://repo.seaspace.name:48443/core:/stable:/{{ k8s_repo_minor }}/rpm/
enabled=0
gpgcheck=1
gpgkey=https://repo.seaspace.name:48443/core:/stable:/{{ k8s_repo_minor }}/rpm/repodata/repomd.xml.key